#root {
  position: relative;
  overflow: hidden;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Pianaforma";
  src: url("/public/fonts/Pianaforma.ttf");
  font-weight: normal;
  font-style: normal;
}
html,
* {
  font-family: "Pianaforma";
}

* {
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, fill 0.3s;
}

:root {
  --game-max-width: 500px;
  --default-gap: 10px;
  --header-height: 70px;
  --digit-width: 70px;
  --digit-height: 90px;
  --digit-font-size: 48px;
  --digit-border-radius: 5px;
  --digit-border-width: 3px;
  --digit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.06);
}

/* 768px 이하의 모바일 기기에 대한 스타일 */
@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

/* 769px 이상의 데스크탑 기기에 대한 스타일 */
@media screen and (min-width: 769px) {
  html {
    font-size: 16px;
  }
}
